<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="ECS_SERVICE_VERSION" source="build.version"/>
    <appender name="ECS_JSON_CONSOLE_MASKED" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="it.pagopa.transactions.utils.EcsEncoderLogMasker">
            <serviceName>${ECS_SERVICE_NAME:-undefined}</serviceName>
            <serviceVersion>${ECS_SERVICE_VERSION}</serviceVersion>
            <serviceEnvironment>${ECS_SERVICE_ENVIRONMENT:-undefined}</serviceEnvironment>
            <safePattern>(\d{4}-\d{2}-\d{2}T{1}\d{2}:\d{2}:\d{2}.\d{3}Z{1}){1}</safePattern> <!-- TIMESTAMP PATTERN -->
            <maskPattern>([\d+]{3,20})</maskPattern> <!-- NUMERIC PATTERN -->
            <maskPattern>([a-z0-9.-]+@[a-z]+\.[a-z]{2,3})</maskPattern> <!-- email -->
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="ECS_JSON_CONSOLE_MASKED"/>
    </root>
</configuration>