<configuration>
    <appender name="LOG_DATA_MASK" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="it.pagopa.transactions.utils.LogMaskerPatternLayout">
                <maskPattern>(?i)([",']{0,1}[pan]{1}[",']{0,1}[:,=]{1}[ ]{0,1}[",']{0,1}[\d+]{14,16}[",']{0,1})</maskPattern> <!-- pan -->
                <maskPattern>(?i)([",']{0,1}[cvv]{1}[",']{0,1}[:,=]{1}[ ]{0,1}[",']{0,1}[\d+]{3,4}[",']{0,1})</maskPattern> <!-- cvv -->
                <maskPattern>([a-z0-9.-]+@[a-z]+\.[a-z]{2,3})</maskPattern> <!-- email -->
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [contextKey=%X{contextKey} rpt-ids=%X{rptIds} transaction-id=%X{transactionId}] - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="LOG_DATA_MASK" />
    </root>
</configuration>