microservice-chart:
  namespace: "ecommerce"
  nameOverride: ""
  fullnameOverride: "soak-pagopa-ecommerce-transactions-methods-service"
  canaryDelivery:
    create: false
    ingress:
      bluegreen: false
      #set canary deployment with traffic balancing see https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/annotations.md#canary for more info
      header: true
      headerName: deployment
      headerValue: blue
      weightPercent: 0
    image:
      repository: pagopaucommonacr.azurecr.io/pagopaecommercetransactionsservice
      tag: "latest"
    envConfig:
      NODO_ECOMMERCE_CLIENT_ID: ecomm-blue
      TRANSACTION_EXPIRATION_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-expiration-queue-b
      TRANSACTION_CLOSE_PAYMENT_RETRY_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-close-payment-retry-queue-b
      TRANSACTION_CLOSE_PAYMENT_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-close-payment-queue-b
      TRANSACTION_REFUND_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-refund-queue-b
      TRANSACTION_NOTIFICATIONS_QUEUE_NAME: pagopa-u-weu-ecommerce-transaction-notifications-queue-b
      TRANSACTIONS_AUTHORIZATION_REQUESTED_QUEUE_NAME: pagopa-u-weu-ecommerce-transaction-auth-requested-queue-b
      OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-transactions-service-blue,deployment.environment=uat"
      ECS_SERVICE_NAME: pagopa-ecommerce-transactions-service-blue
      NODE_FOR_PSP_URI: /ecommerce/mock/nodo/v1/activatePaymentNotice
      NODO_PER_PM_URI: /ecommerce/mock/nodoPerPM/v1
      ECOMMERCE_PAYMENT_METHODS_URI_V2: https://weuuat.ecommerce.internal.uat.platform.pagopa.it/beta/pagopa-ecommerce-payment-methods-service/v2
      PERSONAL_DATA_VAULT_API_BASE_PATH: "https://api.uat.platform.pagopa.it/ecommerce/mock/pdv/v1"
      NPG_URI: "https://api.uat.platform.pagopa.it/ecommerce/mock/npg/v1"
      AUTH_REQUESTED_EVENT_VISIBILITY_TIMEOUT_SECONDS: "0"
      NODE_FORWARDER_URL: "https://api.uat.platform.pagopa.it/ecommerce/mock/node-forwader/v1"
    envSecret: {}
  image:
    repository: pagopaucommonacr.azurecr.io/pagopaecommercetransactionsservice
    tag: "2.0.2"
    pullPolicy: Always
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
    replicas: 5
  strategy:
    type: "RollingUpdate"
    rollingUpdate:
      maxSurge: "100%"
      maxUnavailable: "100%"
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuuat.ecommerce.internal.uat.platform.pagopa.it"
    path: /pagopa-ecommerce-transactions-service/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "ecommerce-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "768Mi"
      cpu: "300m"
    limits:
      memory: "768Mi"
      cpu: "900m"
  autoscaling:
    enable: true
    minReplica: 5
    maxReplica: 15
    pollingInterval: 30 # seconds
    cooldownPeriod: 30 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
    advanced:
      horizontalPodAutoscalerConfig:
        behavior:
          scaleUp:
            stabilizationWindowSeconds: 60
  envConfig:
    MONGO_HOST: pagopa-u-weu-ecommerce-cosmos-account.mongo.cosmos.azure.com
    MONGO_USERNAME: pagopa-u-weu-ecommerce-cosmos-account
    MONGO_PORT: "10255"
    MONGO_SSL_ENABLED: "true"
    MONGO_MIN_POOL_SIZE: "0"
    MONGO_MAX_POOL_SIZE: "50"
    MONGO_MAX_IDLE_TIMEOUT_MS: "600000"
    MONGO_CONNECTION_TIMEOUT_MS: "2000"
    MONGO_SOCKET_TIMEOUT_MS: "10000"
    MONGO_SERVER_SELECTION_TIMEOUT_MS: "2000"
    MONGO_WAITING_QUEUE_MS: "2000"
    MONGO_HEARTBEAT_FREQUENCY_MS: "5000"
    REDIS_PORT: "6380"
    REDIS_SSL_ENABLED: "true"
    NODO_HOSTNAME: https://api.uat.platform.pagopa.it
    NODE_FOR_PSP_URI: /nodo-auth/node-for-psp/v1
    NODO_PER_PM_URI: /nodo-auth/node-for-ecommerce/v2
    NODO_READ_TIMEOUT: "14000"
    NODO_CONNECTION_TIMEOUT: "14000"
    NODO_CONNECTION_STRING: "{\"idPSP\":\"AGID_01\",\"idChannel\":\"97735020584_09\",\"idBrokerPSP\":\"97735020584\"}"
    NODO_PARALLEL_REQUESTS: "5"
    NODO_ALL_CCP_ON_TRANSFER_IBAN_ENABLED: "true"
    NODO_ECOMMERCE_CLIENT_ID: ecomm
    ECOMMERCE_PAYMENT_METHODS_URI: https://api.uat.platform.pagopa.it/ecommerce/payment-methods-service/v1
    ECOMMERCE_PAYMENT_METHODS_READ_TIMEOUT: "10000"
    ECOMMERCE_PAYMENT_METHODS_CONNECTION_TIMEOUT: "10000"
    ECOMMERCE_PAYMENT_METHODS_URI_V2: https://api.uat.platform.pagopa.it/ecommerce/payment-methods-service/v2
    WALLET_URI: https://api.uat.platform.pagopa.it/payment-wallet-for-ecommerce/v1
    WALLET_READ_TIMEOUT: "10000"
    WALLET_CONNECTION_TIMEOUT: "10000"
    NOTIFICATIONS_SERVICE_URI: https://api.uat.platform.pagopa.it/ecommerce/notifications-service/v1
    NOTIFICATIONS_SERVICE_READ_TIMEOUT: "10000"
    NOTIFICATIONS_SERVICE_CONNECTION_TIMEOUT: "10000"
    TRANSACTION_EXPIRATION_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-expiration-queue
    TRANSACTION_CLOSE_PAYMENT_RETRY_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-close-payment-retry-queue
    TRANSACTION_CLOSE_PAYMENT_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-close-payment-queue
    TRANSACTION_REFUND_QUEUE_NAME: pagopa-u-weu-ecommerce-transactions-refund-queue
    TRANSACTION_NOTIFICATIONS_QUEUE_NAME: pagopa-u-weu-ecommerce-transaction-notifications-queue
    TRANSACTIONS_AUTHORIZATION_REQUESTED_QUEUE_NAME: pagopa-u-weu-ecommerce-transaction-auth-requested-queue
    PAYMENT_TOKEN_VALIDITY_TIME: "900"
    TRANSACTIONS_RETRY_OFFSET: "60"
    CLOSURE_RETRY_INTERVAL: "30"
    WEB_LOGGING_LEVEL: "off"
    SERVICE_LOGGING_LEVEL: "info"
    PERSONAL_DATA_VAULT_API_BASE_PATH: "https://api.uat.tokenizer.pdv.pagopa.it/tokenizer/v1"
    WARMUP_REQUEST_NEW_TRANSACTION_NOTICE_CODE_PREFIX: "3020"
    SERVER_ERROR_INCLUDE_STACKTRACE: "never"
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-transactions-service,deployment.environment=uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: grpc
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: none
    OTEL_TRACES_SAMPLER: "always_on"
    ECS_SERVICE_NAME: pagopa-ecommerce-transactions-service
    ECS_SERVICE_ENVIRONMENT: "uat"
    NPG_URI: "https://stg-ta.nexigroup.com/api/phoenix-0.0"
    NPG_READ_TIMEOUT: "10000"
    NPG_CONNECTION_TIMEOUT: "10000"
    NPG_CARDS_PSP_LIST: "BCITITMM,CIPBITMM,BIC36019,UNCRITMM,BPPIITRRXXX,PPAYITR1XXX,BNLIITRR,PASCITMM,WOLLNLB1,BPMOIT22,SARDIT31,IFSPIT21,BCEPITMM"
    NPG_PAYPAL_PSP_LIST: "BCITITMM,SIGPITM1XXX"
    NPG_MYBANK_PSP_LIST: "BCITITMM,UNCRITMM"
    NPG_BANCOMATPAY_PSP_LIST: "BCITITMM"
    NPG_SATISPAY_PSP_LIST: "SATYLUL1"
    NPG_APPLEPAY_PSP_LIST: "SIGPITM1XXX,CIPBITMM"
    NPG_GOOGLE_PAY_PSP_LIST: "CIPBITMM"
    NPG_AUTHORIZATION_ERROR_CODE_MAPPING: '{"907":"25","908":"25","909":"25","110":"3","111":"7","210":"3","115":"25","116":"116","413":"2","117":"117","118":"3","119":"2","911":"25","999":"25","913":"25","120":"2","121":"121","100":"2","122":"2","101":"7","123":"2","200":"2","102":"2","124":"2","125":"3","202":"2","104":"3","126":"2","204":"2","106":"2","129":"2","888":"2","109":"25","208":"3","209":"3","902":"2","903":"2","904":"25","906":"25"}'
    AUTH_REQUESTED_EVENT_VISIBILITY_TIMEOUT_SECONDS: "0"
    TRANSACTION_DOCUMENT_TTL: "600"
    CHECKOUT_BASE_PATH: "https://uat.checkout.pagopa.it"
    ECOMMERCE_EVENT_VERSION: "V1"
    SEND_PAYMENT_RESULT_FOR_TX_EXPIRED_ENABLED: "true"
    SESSION_URL_BASEPATH: "https://uat.checkout.pagopa.it"
    SESSION_URL_OUTCOME_SUFFIX: "/ecommerce-fe/esito#clientId={clientId}&transactionId={transactionId}&sessionToken={sessionToken}"
    SESSION_URL_NOTIFICATION_URL: "https://api.uat.platform.pagopa.it/ecommerce/npg/notifications/v1/sessions/{orderId}/outcomes?sessionToken={sessionToken}"
    JWT_NPG_NOTIFICATION_VALIDITY_TIME: "900"
    REDIRECT_PAYMENT_TYPE_CODE_LIST: "BPPIITRRXXX-RBPR,BPPIITRRXXX-RBPP,BPPIITRRXXX-RBPB,PPAYITR1XXX-RBPB,CHECKOUT-PPAYITR1XXX-RBPP,IO-PPAYITR1XXX-RBPP,PPAYITR1XXX-RBPR,RBPS,RPIC,RICO,KLRN"
    REDIRECT_PAYMENT_TYPE_CODE_DESCRIPTION_MAPPING: '{"RBPR":"Poste addebito in conto Retail","RBPB":"Poste addebito in conto Business","RBPP":"Paga con BottonePostePay","RPIC":"Pago in Conto Intesa","RBPS":"SCRIGNO Internet Banking","RICO":"Conto ICONTO","KLRN":"Klarna (anche a rate)"}'
    NODE_FORWARDER_URL: "https://api.uat.platform.pagopa.it/pagopa-node-forwarder/api/v1"
    NODE_FORWARDER_READ_TIMEOUT: "29000"
    NODE_FORWARDER_CONNECTION_TIMEOUT: "29000"
    CHECKOUT_NPG_GDI_URL: "https://uat.checkout.pagopa.it/gdi-check"
    CHECKOUT_OUTCOME_URL: "https://uat.checkout.pagopa.it/esito"
    NPG_AUTHORIZATION_EXCLUDED_ERROR_CODES: "GW0035,GW0004"
    EXCLUSIVE_LOCK_DOCUMENT_TTL_SECONDS: "2"
    ECOMMERCE_FINAL_STATES: "NOTIFIED_OK,NOTIFIED_KO,NOTIFICATION_ERROR,NOTIFICATION_REQUESTED,EXPIRED,REFUNDED,CANCELED,UNAUTHORIZED,REFUND_ERROR,REFUND_REQUESTED,CANCELLATION_EXPIRED"
    ECOMMERCE_POSSIBLE_FINAL_STATES: "AUTHORIZATION_COMPLETED,CLOSURE_REQUESTED,CLOSURE_ERROR"
    JWT_ISSUER_URI: "https://weuuat.ecommerce.internal.uat.platform.pagopa.it/pagopa-jwt-issuer-service"
    JWT_ISSUER_READ_TIMEOUT: "10000"
    JWT_ISSUER_CONNECTION_TIMEOUT: "10000"
  envSecret:
    NODO_NODEFORECOMMERCE_API_KEY: node-for-ecommerce-api-v2-key
    NODO_NODEFORPSP_API_KEY: nodo-nodeforpsp-api-key
    MONGO_PASSWORD: mongo-ecommerce-password
    REDIS_PASSWORD: redis-ecommerce-access-key
    REDIS_HOST: redis-ecommerce-hostname
    NOTIFICATIONS_SERVICE_API_KEY: notifications-service-api-key
    ECOMMERCE_STORAGE_TRANSIENT_CONNECTION_STRING: ecommerce-storage-transient-connection-string
    PERSONAL_DATA_VAULT_API_KEY: ecommerce-load-test-subscription-key
    OTEL_EXPORTER_OTLP_HEADERS: elastic-otel-token-header
    ECOMMERCE_PAYMENT_METHODS_APY_KEY: ecommerce-load-test-subscription-key
    WALLET_API_KEY: wallet-api-key
    NPG_API_KEY: npg-api-key
    NPG_CARDS_PSP_KEYS: npg-cards-psp-keys
    NODE_FORWARDER_API_KEY: ecommerce-load-test-subscription-key
    REDIRECT_URL_MAPPING: redirect-url-mapping
    NPG_PAYPAL_PSP_KEYS: npg-paypal-psp-keys
    NPG_BANCOMATPAY_PSP_KEYS: npg-bancomatpay-psp-keys
    NPG_MYBANK_PSP_KEYS: npg-mybank-psp-keys
    NPG_SATISPAY_PSP_KEYS: npg-satispay-psp-keys
    NPG_APPLEPAY_PSP_KEYS: npg-apple-pay-psp-keys
    NPG_GOOGLE_PAY_PSP_KEYS: npg-google-pay-psp-keys
  keyvault:
    name: "pagopa-u-ecommerce-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  azure:
    workloadIdentityClientId: 449c5b65-f368-487a-881a-b03676420c53
