name: OpenAPI Quality Check

# this action runs only when OpenAPI spec files are modified
on:
  pull_request:
    branches: [main]
    paths:
      - 'api-spec/**/*.yaml'
      - 'api-spec/**/*.yml'

permissions:
  contents: read

jobs:
  openapi_quality:
    runs-on: ubuntu-latest
    name: OpenAPI Quality Check
    strategy:
      matrix:
        spec:
          - path: 'api-spec/v1/transactions-api.yaml'
            version: 'v1'
          - path: 'api-spec/v2/transactions-api.yaml'
            version: 'v2'
          - path: 'api-spec/v2.1/transactions-api.yaml'
            version: 'v2.1'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
    
      - name: Rate My OpenAPI - ${{ matrix.spec.version || matrix.spec.path }}
        if: ${{ github.event.pull_request.head.repo.fork == false }}
        run: |
          npx rmoa lint \
            --filename ${{ matrix.spec.path }} \
            --api-key ${{ secrets.RATEMYOPENAPI_API_KEY }} \
            --minimum-score 80 \
            --max-warnings 57 \
            --max-errors 5
